@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch:400,700');
/* font-family: 'Cabin Sketch', cursive; */

@import url('https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800');
/* font-family: 'Dosis', sans-serif; */

:root {
    --branco            : #fff;
    --preto-mask        : rgba(0,0,0,0.5);
    --preto-modal        : rgba(0,0,0,0.7);
    --laranja           : #eaa527;
}

body {
    font-family: 'Dosis', sans-serif;
}

.topo-bg {
    background-image: url(../../images/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

/* mask para bg */
.topo-bg:after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: var(--preto-mask);
    z-index: 5;
}
/* fim mask */

.topo-bg-conteudo {
    display: flex;
    width: 50%;
}

@media (max-width: 800px) {
    .topo-bg-conteudo {
        width: 100%;
    }
}

.topo-bg-conteudo-interno {
    padding-top: 42px;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    position: relative;
    z-index: 10;
}

.logo-genova {
    max-width: 154px;
    max-height: 107px;
    margin-bottom: 56px;
}

.titulo-1 {
    font-size: 32px;
    line-height: 36px;
    font-weight: 200;
    color: var(--branco);
}

.titulo-2 {
    font-size: 26px;
    line-height: 30px;
    font-weight: 400;
    color: var(--branco);
}

.titulo-3 {
    font-size: 32px;
    line-height: 36px;
    font-weight: 400;
    color: var(--branco);
}

.titulo-4 {
    font-family: 'Cabin Sketch', cursive;
    font-size: 43px;
    line-height: 44px;
    font-weight: 700;
    color: var(--branco);
    margin-top: 75px;
}

.linha {
    border-top: 1px solid var(--branco);
    margin-top: 13px;
    margin-bottom: 28px;
}

.paragrafo-1 {
    font-size: 18px;
    line-height: 22px;
    font-weight: 300;
    color: var(--branco);    
}

.paragrafo-2 {
    font-size: 22px;
    line-height: 26px;
    font-weight: 300;
    color: var(--branco);    
}

.topo-bg-conteudo-interno .paragrafo-1 {
    margin-top: 23px;
}

.bloco-btns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 60px;
}

.bloco-btns a {
    text-decoration: unset;
}

.bloco-btns a:hover {
    text-decoration: unset;
}

.btn-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 241px;
    height: 69px;
    border: 2px solid var(--laranja);
    border-radius: 60px;
    margin-bottom: 25px;
    transition: all .3s;
    cursor: pointer;
}

.btn-item:hover {
    background-color: var(--laranja);
    transition: all .3s;
}

.btn-item-text {
    color: var(--laranja);
    font-size: 19px;
    font-weight: 700;
    margin-bottom: 0;
}

.btn-item:hover .btn-item-text {
    color: var(--branco);
    transition: all .3s;    
}

.bloco-genova {
    background-color: var(--laranja);
}

.bloco-genova-conteudo {
    width: 50%;
    display: flex;
}

@media (max-width: 800px) {
    .bloco-genova-conteudo {
        width: 100%;
    }
}

.bloco-genova-conteudo-interno {
    width: 80%;
    margin: auto;
    margin-top: 90px;
}

.bloco-btn-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 69px;
    border: 2px solid var(--branco);
    border-radius: 60px;
    transition: all .3s;
    cursor: pointer;
    margin-top: 22px;
    margin-bottom: 140px;
}

.bloco-btn-2:hover {
    background-color: var(--branco);
    transition: all .3s;
}

.bloco-btn-2 a, .bloco-btn-2 a:hover {
    text-decoration: unset;
}

.bloco-btn-2-text {
    font-size: 26px;
    color: var(--branco);
}

.bloco-btn-2:hover .bloco-btn-2-text {
    color: var(--laranja);
    transition: all .3s;
}
 

/* MODAL GERAL config */

.modal {
   background-color: var(--preto-modal); 
}

.modal-dialog {
    max-width: 90%;
}

.modal-content {
    background-color: unset;
}

.modal-header {
    border: unset;
}

.close {
    transition: all .3s;
}

.close:focus, .close:hover {
    transition: all .3s;
}

.modal-title {
    font-weight: 200;
    color: var(--laranja);
    font-size: 32px;
    line-height: 36px;
    margin-top: 70px;
}

@media (max-width: 500px) {
    .modal-title {
        line-height: 45px;
    }
}

.modal-text {
    color: var(--branco);
    font-size: 32px;
    line-height: 36px;
    margin-bottom: 40px;
    font-weight: 400;
}

.modal-footer {
    border: unset;
    display: flex;
    justify-content: flex-start;
}

.btn-modal {
    border: 2px solid var(--laranja);
    background-color: unset;
    width: 140px;
    height: 69px;
    border-radius: 60px;
    font-size: 19px;
    color: var(--laranja);
    transition: all .3s;    
}

.btn-modal:hover {
    border: 2px solid var(--laranja);
    background-color: var(--laranja);
    transition: all .3s;
    color: var(--branco);
}

/* fim modal geral */

/* conf modal lista */
.modal-body-content-list {
    display: flex;
    justify-content: space-around;
}

@media (max-width: 500px) {
    .modal-body-content-list {
        flex-direction: column;
    }
}

.modal-body-content-list .lista {
    width: 45%;
}

@media (max-width: 500px) {
    .modal-body-content-list .lista {
        width: 70%;
        margin: auto;
    }
}

.lista ul {
    list-style-image: url(../../images/icon-list.png)
} 

.lista li {
    color: var(--branco);
    font-size: 18px;
    line-height: 22px;
}

.lista li:not(:last-of-type) {
    margin-bottom: 40px;
}

/* fim conf modal lista */

.img-cronograma {
    max-width: 100%;
}

/* FORM */
.titulo-form {
    font-size: 28px;
    font-weight: 600;
    color: var(--laranja);
    padding: 42px 10px 0 10px;
    text-align: center;
}

.bloco-form {
    width: 45%;
    position: absolute;
    right: 3%;
    top: 42px;
    z-index: 5;
    background-color: var(--branco);
}

@media (max-width: 800px) {
    .bloco-form {
        width: 100%;
        position: relative;
        z-index: 5;
        background-color: var(--branco);
    }
}

.bloco-form iframe {
    min-height: 1380px;
    height: 100%;
}
/* FIM FORM */